#nav_bar{
}
#nav_bar .tab{
	padding: 0 .2em;
	font-size:.9em;
	cursor:pointer;
	color:#ffffff;
	background-color:#c0c0c0;
}
#nav_bar .active{
	padding: 0 .2em;
	font-size:.9em;
	cursor:pointer;
	color:#000000;
	background-color:#caef80;
}

div.content_section{
	display:none;
	font-size:.8em;
	border-bottom:10px solid #caef80;
	border-top:10px solid #caef80;
	overflow:auto;
	height:350px;
}

#console_section{
	display:block;
}
#console_section .error{
	color:#ff0000;
}
#console_section .content_block{
}

#monitor_section{
	padding:10px;
}
#monitor_section h3{
	margin:0;
}
#monitor_section .label{
	width:50px;
	display:inline-block;
	text-align:right;
}
#monitor_section .value{
}

#content_footer{
	color:#c0c0c0;
	font-size:.6em;
	margin-top:5px;
}
#content_footer span.label{}
	
#start_button{
	display:none;
}	
#stop_button{
}

#start_button,#stop_button{
	text-decoration:underline;
	color:#0000ff;
	cursor:pointer;
}