{% extends "templates/base.temp.html" %}
{% block title %}{{ super() }} - Server Monitor{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="css/home.css"></link>
{% endblock %}
{% block content %}
	<div id="nav_bar">
		<a id="nav_tab_console" class="tab active">Console</a>
	</div>
	<div id="console_section" class="content_section"></div>
	<div id="content_footer">
		<span class="label">Last update at</span> <span id="last_update_time">00:00:00</span>
    	<span id="start_button">start</span><span id="stop_button">stop</span>
	</div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascript %}
    {{ super() }}
    <script type="text/javascript" src="js/home.js"></script>
{% endblock %}
