{% extends "templates/base.temp.html" %}
{% block title %}{{ super() }} - Login{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="css/login.css"></link>
{% endblock %}
{% block content %}
    <div id="login_section">
    	<form id="login_form" name="login_form" action="console" method="POST" >
    		<p id="login_message">Welcome to vertex server monitor</p>
    		<span class="label">User:</span> <input id="login_user" name="login_user" type="text"/><br/>
    		<span class="label">Pass:</span> <input id="login_pass" name="login_pass" type="text"/><br/>
    		<button id="login_submit" type="submit">Sign In</button>
    	</form>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascript %}
    {{ super() }}
    <script type="text/javascript" src="js/login.js"></script>
{% endblock %}